{% extends 'base.html' %} {% block content %}
<h1>Order</h1>
<br />
<a
  href="/order/create"
  class="btn"
  style="background-color: #5932ea; color: white"
  >Add New Order</a
>
<br />
{% for message in messages %}
<div class="alert alert-{{ message.tags }}" style="margin-top: 20px;">{{ message }}</div>
{% endfor %}
<br />
<table
  id="example"
  class="table table-striped table-bordered"
  style="width: 100%"
>
  <thead class="table-light">
    <tr>
      <th>Order ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Customer Name</th>
      <th>Customer Type</th>
      <th>Gender</th>
      <th>Product Category</th>
      <th>Product Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Total Price</th>
      <th>Discount</th>
      <th>Payment</th>
      <th>Satisfaction</th>
      <th>Action</th>
    </tr>
</thead>
<tbody>
    {% for order in data %}
    <tr>
      <td>{{order.id}}</td>
      <td>{{order.date|date:"SHORT_DATE_FORMAT"}}</td>
      <td>{{order.time|time:"H:i"}}</td>
      <td>{{order.customer.name}}</td>
      <td>{{order.customer.customer_type}}</td>
      <td>{{order.customer.gender}}</td>
      <td>{{order.product.product_category}}</td>
      <td>{{order.product.name}}</td>
      <td>{{order.product.unit_price}}</td>
      <td>{{order.quantity}}</td>
      <td>{{order.total}}</td>
      <td>{{order.discount}}</td>
      <td>{{order.payment_type}}</td>
      <td>{{order.satisfaction}}</td>
      <td>
        <button
          type="button"
          class="btn btn-outline-warning"
          onclick="location.href='/order/edit/{{order.id}}';"
        >
          <i class="fa-solid fa-pencil"></i>
        </button>
        <a
          type="button"
          class="btn btn-outline-danger"
          href="/order/delete/{{order.id}}"
          onclick="return confirm('Are you sure you want to delete this order?');"
        >
          <i class="fa-solid fa-trash"></i
        ></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
